/[Bb]uild
/build_debug_gcc
/build_release_gcc
/build_debug_clang
/build_release_clang
/compile_commands.json
/out
/resources
.gdb_history
.clangd
.cache
tags

documentation/


*.logs

.gdb_history

.bdep/
.bdep/bdep.sqlite3
.clangd/
.vimspector.json
-.json

# Compiler/linker output.

*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc

# Compilation database
compile_commands.json

.cache/

out/
cmake/

