[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "EGL/external/volk"]
	path = EGL/external/volk
	url = https://github.com/zeux/volk
[submodule "EGL/external/SPIRV-Cross"]
	path = EGL/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "EGL/external/glslang"]
	path = EGL/external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "EGL/external/Vulkan-Headers"]
	path = EGL/external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "external/easy_profiler"]
	path = external/easy_profiler
	url = https://github.com/yse/easy_profiler
[submodule "EGL/external/glfw"]
	path = EGL/external/glfw
	url = https://github.com/glfw/glfw
[submodule "ESL/external/spdlog"]
	path = ESL/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/easy_profiler"]
	path = external/easy_profiler
	url = https://github.com/yse/easy_profiler
