/[Bb]uild
/build_debug_gcc
/build_release_gcc
/build_debug_clang
/build_release_clang
/compile_commands.json
/out
/resources
.gdb_history
.clangd
.cache
tags

documentation/

.vimspector.json

*.logs
