language: cpp
sudo: required

os:
   - linux

compiler: 
   - clang

apt:
   sources:
      - llvm-toolchain-trusty
      - ubuntu-toolchain-r-test
   packages:
      - clang-9
      - cmake

script:
  - bash build_debug_test.sh
   
